.pulsing {
	animation-name: pulse_animation;
	animation-duration: 3000ms;
	transform-origin:50% 50%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
	60% { transform: scale(1.8); }
	100% { transform: scale(1); }
}
