.card {
	background-color: white;
	color: #333;
	display: flex;
	flex-direction: column;
	font-family: 'Bowlby One SC', cursive;
	justify-content: flex-end;
	height: 415px;
	margin-bottom: 100px;
	padding: 20px 20px 10px 20px;
	position: relative;
	text-transform: uppercase;
	width: 360px;
}

.card-container {
	flex-wrap: wrap;
	justify-content: space-around;
}

.card-back {
	background-color: white;
	bottom: 0;
	height: 100%;
	left: 0;
  position: absolute;
	opacity: 0;
	right: 0;
	top: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
	width: 100%;
	z-index: 1;
	&:hover {
		opacity: 1;
	}
}

.card-image {
	align-self: center;
	background-color: $accentColor;
	border-radius: 5px;
	height: 310px;
	position: relative;
	img {
		border-radius: 5px;
		filter: contrast(200%);
		width: 310px;
	}
}

.card-image-overlay {
	background: rgba(222,48,47,0.7);
	border-radius: 5px;
	bottom: 0;
  height: 100%;
  left: 0;
	position: absolute;
  right: 0;
	top: 0;
	width: 100%;
}

.card-details {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.card-name {
	align-content: flex-end;
	align-items: center;
	align-self: flex-start;
	color: #333;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.card-first-name {
	font-size: 1.3em;
}

.card-last-name {
	color: $accentColor;
	font-size: 2em;
}

.card-dev-title {
	align-self: flex-end;
	font-size: .9em;
	text-align: right;
	width: 100px;
}

.card-icons {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.card-icon {
	fill: #333;
	width: 75px;
}
