.hamburger-wrapper {
    cursor: pointer;
    display: inline-block;
    &.hamburger-wrapper-main {
        position: fixed;
        right: 50px;
        top: 50px;
    }
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
}
