.full-image-cover {
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.full-image-cover-home {
  background-image: url("images/BLACKSBURG.jpg");
}

.full-image-cover-sub {
  background-image: url("images/Qualtrax.jpg");
  height: 60vh;
}

.main-logo {
  width: 400px;
}