.full-image-cover {
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  .main-logo {
    margin-top: 100px;
  }
}

.full-image-cover-home {
  background-image: url("images/BLACKSBURG.jpg");
}

.full-image-cover-sub {
  background-image: url("images/Qualtrax.jpg");
  height: 40vh;
}

.main-logo {
  width: 200px;
}