.full-image-cover {
  background-size: cover;
  height: 100vh;
  .main-logo {
    margin-top: 100px;
  }
}

.full-image-cover-home {
  background-image: url("images/BLACKSBURG.jpg");
}

.main-logo {
  width: 350px;
}