.full-image-cover {
  background-attachment: fixed;
	background-position: center bottom;
  background-size: cover;
  height: 100vh;
}

.full-image-cover-home {
  background-image: url('images/BLACKSBURG.jpg');
}

.full-image-cover-sub {
	background-attachment: fixed;
  background-image: url("images/Qualtrax.jpg");
	background-position: center top;
  height: 60vh;
}

.main-logo {
	margin-top: 100px;
}
