.container {
  display: flex;
  padding: 50px 30px 50px 30px;
}

.container-item {
  flex: 1;
}

.container-centered {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container-vertical {
  flex-direction: column;
  align-items: center;
}

.container-centered-vertically {
  align-items: center;
  // height: 100vh;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.container-space-around {
  justify-content: space-around;
}

.container-spread {
	height: 100%;
	justify-content: space-between;
}
